@model IEnumerable<CategoryModel>
@{
    ViewData["title"] = "Category Listed";
    Layout = "_Layout1";
}
<h3>List Category</h3>
<a asp-action="Create" asp-controller="Category">Add Category</a>
<table class="table">
    <thead>
        <tr>

            <th scope="col">Category Name</th>
            <th scope="col">Category Description</th>

            <th scope="col">Category Status</th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr border>


                <td>@item.Name</td>
                <td>@Html.Raw(@item.Description)</td>

                <td>
                    @if (item.Status == true)
                    {
                        <span class="text text-success">Còn Hàng</span>
                    }
                    else
                    {
                        <span class="text text-danger">Hết Hàng </span>
                    }
                </td>

                <td>
                    <a asp-action="Edit" class="btn-danger btn-sm" asp-controller="Category" asp-route-Id="@item.Id">Edit</a>
                    <a asp-action="Delete" class="btn-warning btn-sm confirmDeletion" asp-controller="Category" asp-route-Id="@item.Id">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>