@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "Layout_Checkout1";
}

@using Microsoft.AspNetCore.Identity
@using Project_PhoneStore.Areas.Identity
@using Project_PhoneStore.Models

@inject SignInManager<Account> SignInManager
@inject UserManager<Account> UserManager
@model Project_PhoneStore.Models.OrderViewModel

<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                FILL IN YOUR INFORMATION
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form action="">
                        <div>
                            <input asp-for="@Model.ReceiverPhoneNumber" class="form-control" placeholder="Your Phone Number" />
                            <span asp-validation-for="@Model.ReceiverPhoneNumber" class="text-danger"></span>
                        </div>
                        <div>
                            <input asp-for="@Model.ShippingAddress" class="form-control" placeholder="Your Address" />
                            <span asp-validation-for="@Model.ShippingAddress" class="text-danger"></span>
                        </div>

                        <div>
                            <input asp-for="@Model.Note" class="form-control" placeholder="Your Note" />
                            <span asp-validation-for="@Model.Note" class="text-danger"></span>
                        </div>

                        <div class="btn_box">
                            <button asp-action="Checkout" asp-controller="Checkout">
                                Book Now
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map_container ">
                    <div id="googleMap"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="review-payment">
	<h2>Review Your Shopping Cart</h2>
</div>

<div class="table-responsive cart_info">
	<table class="table table-condensed">
		<thead>
			<tr class="cart_menu">
				<td class="image">Item</td>
				<td class="price">Price</td>
				<td class="quantity">Quantity</td>
				<td class="total">Total</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			@if (Model.CartItemModels.Count > 0)
			{
				@foreach (var item in Model.CartItemModels)
				{
					<tr>
						<td class="cart_product">
							<a href=""><img src="~/assets/image/@item.Image" alt="" style="width:50px;height:60px;></a>
				</td>
				<td class="cart_description">
							<h4><a href="">@item.ProductName</a></h4>
						</td>
						<td class="cart_price">
							<p>@item.Price.000.000 VNĐ</p>
						</td>
						<td class="cart_quantity">
							<a class="btn btn-success btn-sm" asp-controller="Checkout" asp-action="Increase" asp-route-id="@item.ProductId"> + </a>
							<input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
							<a class="btn btn-success btn-sm" asp-controller="Checkout" asp-action="Decrease" asp-route-id="@item.ProductId"> - </a>
							<a class="btn btn-danger btn-sm" asp-controller="Checkout" asp-action="Remove" asp-route-id="@item.ProductId"> Xóa </a>

						</td>
						<td class="cart_total">
							<p class="cart_total_price">@Model.CartItemModels.Where(x => x.ProductId == @item.ProductId).Sum(x => x.Quantity * x.Price).ToString().000.000 VNĐ</p>
						</td>

					</tr>
				}
				<tr>
					<td colspan="6">Tổng giá tiền:<p class="cart_total_price"> @Model.GrandTotal.ToString().000.000VNĐ</p></td>
					<td><a class="btn btn-danger btn-sm" asp-controller="Checkout" asp-action="Clear"> Xóa tất cả </a></td>
				</tr>
			}
			else
			{
				<tr colspan="5"><td><h4>Giỏ hàng của bạn đang trống.</h4></td></tr>

			}

		</tbody>
	</table>
</div>
